.drag {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    display: none;
    flex-direction: column;
    height: fit-content;
    background-color: white;
    width: fit-content;
    text-align: left;
    right: 2vw;
}

.drag > * {
    margin: 5px;
    margin-right: 5vw;
    margin-left: 0.7vw;
}

.drag > :first-child{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.bottomDrag {
    width: 100%;
}

.bottomDrag > * {
    margin: 5px;
}

#themeCreator {
    display: none;
}

#tabs {
    display: flex;
}

#calc {
    width: 10vw;
}

#calc div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: fit-content;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

#calc div .closeDrag {
    grid-column: span 3;
    width: 4vw;
    padding: auto;
    text-align: center;
}
